:root {
    --blue: #00499c;
}

.blue {
    color: var(--blue) !important;
}

.custom-card {
    width: 400px !important;
    height: 700px !important;
    border: unset;
}

.hand {
    background-image: url("../../Assets/images/slider-1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}